In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
#defining folder path
path = r'/Users/daniel/Library/CloudStorage/OneDrive-Persönlich/00 Synology/01 Dokumente/2023 Docs/99 CareerFoundry/04 Python/00 Instacart'

In [3]:
# importing pickle
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_v3.pkl'))

In [4]:
# create crosstab
crosstab = pd.crosstab(ords_prods_merge['days_since_prior_order'], ords_prods_merge['order_number'], dropna = False)

In [5]:
crosstab.head()

order_number,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,90.0,91.0,92.0,93.0,94.0,95.0,96.0,97.0,98.0,99.0
days_since_prior_order,,,,,,,,,,,,,,,,,,,,,
0.0,0,20564,20452,18000,16451,16063,14396,13896,12782,11470,...,1195,1150,1040,937,1137,1099,1041,885,1038,937
1.0,0,31693,29975,28028,27112,25548,25013,22937,21798,21081,...,2791,2804,2729,2606,2606,2641,2437,2540,2635,2366
2.0,0,46493,46302,43935,40761,40944,38140,37560,35778,33861,...,3624,3558,3314,3592,3323,3073,2986,3058,3092,2612
3.0,0,61704,63454,60047,57934,56218,52915,49333,48325,47863,...,3321,3240,2799,3079,2904,2638,2660,2462,2170,2468
4.0,0,76798,78925,73613,70593,66635,62458,61197,59569,57748,...,2343,2260,2492,2032,1800,2084,1919,1795,1695,1813

In [6]:
# copy to clipboard
crosstab.to_clipboard()